@model BYOD.Models.USERS
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script>
    $(document).ready(function ($) {
        $('.delete').click(function () {
            if (!confirm($(this).data('confirm'))) {
                return false;
            }

            var token = $(':input:hidden[name*="RequestVerificationToken"]');
            var data = {};
            data[token.attr('name')] = token.val();
            $.ajax({
                url: this.href,
                type: 'POST',
                data: data,
                success: function () {
                    window.location = "../index";
                },
                error: function () {

                }
            });

            return false;
        });
    });
</script>
<div id="left">
    <div style="height: 80px"></div>
    <div class="subnav">
        <ul class="subnav-menu">
            <li>
                <a href="@Url.Content("~/Users/")">Back</a>
            </li>
            <div style="height: 20px"></div>
        </ul>
    </div>
</div>
<div id="main">
                                @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="page-header">
            <div>

                <div class="widget">
                    <h3 class="section-title first-title"><i class="icon-table"></i>User:</h3>
                    <div class="widget-content-white glossed">
                        <div class="padded">
                            <div class="a_dv">
                                <div>
                                    <span>Username: </span>
                                    @Html.DisplayFor(model => model.username)
                                    @*<input style="width: 286px;" type="search" name="uus" placeholder="Username">*@
                                </div>
                                <div>
                                    <span>Password: </span>
                                    @Html.DisplayFor(model => model.password)
                                </div>
                                <div>
                                    <span>Name: </span>
                                    @Html.DisplayFor(model => model.name)
                                </div>
                                <div>
                                    <span>Email: </span>
                                    @Html.DisplayFor(model => model.email)
                                </div>
                                <div>
                                    <span>Rule: </span>
                                    @Html.DisplayFor(model => model.RULES.name)
                                </div>
                            </div>
                                <div>&nbsp;</div>
                                <div class="submit">
                                    @Html.ActionLink("Edit", "EditUser", new { id = Model.user_id }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink(
                                        "Delete", 
                                        "DeleteUser", 
                                        "Users", 
                                        new { 
                                            id = Model.user_id
                                        }, 
                                        new { 
                                            @class = "delete btn btn-warning",
                                            data_confirm = "Are You sure You want to delete (" + Model.username.ToString() + ") ?"
                                        }
                                    )
                                </div>
                                <div>&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
