@model BYOD.Models.DEVICES
@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="left">
    <div style="height: 80px"></div>
    <div class="subnav">
        <ul class="subnav-menu">
            <li>
                <a href="@Url.Content("~/Devices/")">Back</a>
            </li>
            <div style="height: 20px"></div>
        </ul>
    </div>
</div>
<div id="main">
    <div class="container-fluid">
        <div class="page-header">
            <div>

                <div class="widget">
                    <h3 class="section-title first-title"><i class="icon-table"></i>Are you sure you want to delete this?</h3>
                    <div class="widget-content-white glossed">
                        <div class="padded">
                            <div class="a_dv">
                                <div>
                                    <span>Device: </span>
                                    @Html.DisplayFor(model => model.model)
                                    @*<input style="width: 286px;" type="search" name="uus" placeholder="Username">*@
                                </div>
                                <div>
                                    <span>Username: </span>
                                    @Html.DisplayFor(model => model.USERS.username)
                                </div>
                                <div>
                                    <span>IMEI: </span>
                                    @Html.DisplayFor(model => model.imei)
                                </div>
                                <div>
                                    <span>Phone Number: </span>
                                    @Html.DisplayFor(model => model.phone_number)
                                </div>
                            </div>
                            @using (Html.BeginForm()) {
                                @Html.AntiForgeryToken()
                                <div class="submit">
                                    <input type="submit" value="OK" class="btn btn-primary">
                                    <a href="@Url.Content("~/Devices/")" class="btn btn-info">Back</a>
                                </div>
                                <div>&nbsp;</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
